<h1>Профиль</h1>
<div class="row">
  <div class="col s6">
      {{#if image}}
    <img 
      class="avatar"
      src="../{{image}}" 
      alt="avatar-{{user.name}}"
    > 
    {{else}}
    <p>Аватара нет</p>
    {{/if}}
  </div>
  <div class="col s6">
    <form action="/profile" method="POST" enctype="multipart/form-data">
      <h1>Ваше имя: <strong>{{name2}}</strong></h1>

      {{!-- <div class="input-field">
        <input id="name" name="name" type="text" required value="{{name2}}">
        <label for="name">Ваше имя</label>
        <span class="helper-text" data-error="Имя не может быть пустым"></span>
      </div> --}}
      
      <div class="file-field input-field">
        <div class="btn">
          <span>Аватар</span>
          <input type="file" name="avatar">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
      <button type="submit" class="btn">Изменить</button>
      <input type="hidden" name="_csrf" value="{{csrf}}">
    </form>
  </div>
</div>